
<launch>

	<!-- Launch elevation mapping node and set corresponding parameters-->
	<node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping">
		<param name="point_cloud_topic" value="/camera/depth/points"/>
		<param name="robot_pose_with_covariance_topic" value="/cur_pose_wcs"/>
		<param name="map_frame_id" value="camera_link"/>
	    <param name="robot_base_frame_id" value="camera_link"/>
	    <!--<param name="track_point_frame_id" value="camera_link"/>-->
		<param name="sensor_frame_id" value="camera_link"/>
		<param name="resolution" value="0.01"/>
		<param name="length_in_x" value="3.0"/>
		<param name="length_in_y" value="1.5"/>
		<!--<param name="position_x" value="-1.5"/>-->
		<!--<param name="position_y" value="0.0"/>-->
		<!--<param name="scanning_duration" value="0.033"/>-->
		<!--<param name="mahalanobis_distance_threshold" value="0.3"/>-->
		<!--<param name="multi_height_noise" value="0.0001"/>-->

		<!-- kinect-specific parameters -->
		<!--<rosparam command="load" file="$(find elevation_mapping)/config/sensor_processors/kinect_nguyen_et_al.yaml" />-->
	</node>

	<!-- Launch nodes for elevation_map visualization -->
	<node pkg="grid_map_visualization" type="grid_map_visualization" name="elevation_map_fused_visualization" output="screen">
		<param name="grid_map_topic" value="/elevation_mapping/elevation_map" />
		<rosparam command="load" file="$(find elevation_mapping_demos)/config/visualization/fused.yaml" />
	</node>

	<!-- Start RViz -->
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find test_launch_files)/rviz_configs/elevation_mapping.rviz"/>

</launch>
