

<launch>

	<!-- ARGS -->

	<!-- camera ids -->
	<arg name="cam1" value="1"/>
	<arg name="cam2" value="2"/>

	<!-- GLOBAL PARAMTERS -->

	<!-- LAUNCH NODES -->

	

	<!-- Pulbish camera frames -->

	<node

		pkg="cv_camera"
		type="cv_camera_node"
		name="left"
		ns="stereo">

		<param name="device_id" value="$(arg cam1)"/>
			
	</node>

	<node

		pkg="cv_camera"
		type="cv_camera_node"
		name="right"
		ns="stereo">

		<param name="device_id" value="$(arg cam2)"/>
			
	</node>

	<node
		pkg="stereo_image_proc"
		type="stereo_image_proc"
		name="stereo_image_proc"
		ns="stereo">
		<param name="_approximate_sync" value="True"/>
		<param name="stereo" value="stereo"/>
		<param name="image" value="image_rect"/>

	</node>>


	<!-- Process camera frames -->



</launch>