body {
    margin: 0px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #f0f0f0;
    text-align: left;
    padding: 8px;
    font-size: 14px;
}

td:nth-child(1) {
    width: 150px;
}
  
tr:nth-child(even) {
    background-color: #f0f0f0;
}
  
#left_region {
    float: left;
    width: auto;
    max-width: 40%;
    margin-right: 30px;
}

#middle_region {
    float: left;
    width: 45%;
    margin-right: 30px;
}

#middle_region_left {
    float: left;
    width: 48%;
    margin-right: 4%;
}

#middle_region_right {
    float: left;
    width: 48%;
}

#right_region {
    float: left;
    width: 15%;
}

#body_content {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#header_bar {
    background-color: #000000b7;
    height: 50px;
    margin-bottom: 20px;
}

#state_image {
    max-height: 800px;
}